<!DOCTYPE html>
<html lang="kr">
<head>
   {{>/include/header}}
</head>
<body>
{{>/include/navigation}}

<div class="container" id="main">
   <div class="col-md-12 col-sm-12 col-lg-10 col-lg-offset-1">
      <div class="panel panel-default content-main">
      {{#reservation}}
              <div class="form-group">
                  <label for="customer">customerName</label>
                  <input class="form-control" id="customerName" name="customerName" value={{customerName}} readonly/>
              </div>
              <div class="form-group">
                  <label for="title">title</label>
                  <input type="text" class="form-control" id="title" name="title" value={{title}} readonly/>
              </div>
              <div class="form-group">
                  <label for="option">option</label>
                  <input type="text" class="form-control" id="option" name="option" value={{option}} readonly/>
              </div>
              <div class="form-group">
                  <label for="quantity">quantity</label>
                  <input type="text" class="form-control" id="quantity" name="quantity" value={{quantity}} readonly/>
              </div>
              <div class="form-group">
                  <label for="contents">contents</label>
                  <textarea name="contents" id="contents" rows="5" class="form-control" readonly>{{contents}}</textarea>
              </div>
              <div class="clearfix" />
              {{/reservation}}
        </div>
    </div>
</div>

<!-- script references -->
<script src="../js/jquery-2.2.0.min.js"></script>
<script src="../js/bootstrap.min.js"></script>
<script src="../js/scripts.js"></script>
	</body>
</html>